body {
  background-color: rgb(47, 34, 62);
  min-height: 1050px;
}

body * {
  color: white;
  text-align: center;
  font-family: sans-serif, arial, helvetica;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  display: flex;
  width: 375px;
  height: 225px;
  background-color: white;
  border-radius: 4px;
  margin: 20px;
}

img {
  margin: auto;
  width: 350px;
  height: 200px;
}

figcaption {
  position: absolute;
  z-index: 5;
  background-color: black;
  opacity: 0;
  width: 350px;
  padding: 20px;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  transition: all .3s;
  pointer-events: none;
}